<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8410d235-97a1-494d-820b-7feeea0efe19/resourcegroups/ACRRS/providers/Microsoft.ContainerRegistry/registries/jenkinDockerContainerDemoACR</ResourceId>
    <ResourceName>jenkinDockerContainerDemoACR</ResourceName>
    <ResourceGroup>ACRRS</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://jenkindockercontainerdemoacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f06f530a-c202-425c-865b-f235bcfbe8d8</ProjectGuid>
  </PropertyGroup>
</Project>